$TTL 86400
@   IN  SOA     dns.drumm.one. root.drumm.one. (
        2013042201  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
; Specify our two nameservers
                IN      NS              dns.drumm.one.

1    IN     PTR    dns.drumm.one.
